<html>
    <head> 

        <title>Resultado - Compara Arquivos</title>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" ></script>
        <link  rel="stylesheet" href= {{ css_path }} > 
        <style>
            .red{ color: red}
            .green{color: green}
        </style>

    </head>

    <body>
        <section>
            <!--for demo wrap-->
            <h1>Componentes Alterados</h1>
            <div class="tbl-header">
              <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                  <tr>
                    <th>Cod. Materia</th>
                    <th>Nome Materia</th>
                    <th>Carga Horaria Total</th>
                    <th>Carga Horaria Teorica</th>
                    <th>Carga Horaria Pratica</th>
                    <th>Atividade a Distancia</th>
                    <th>Atividade Discente</th>
                    <th>Característica</th>
                    <th>Nome Dimensao</th>
                    <th>Cod. Curriculo</th>
                    <th>Nome Curso</th>
                    <th>Nome Estrutura</th>

                    
                    
                    
                  </tr>
                </thead>
              </table>
            </div>
            <div class="tbl-content">
              <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                {% for alt in lista_update %}
                  <tr>     
                    <td>{{alt.cod_materia}}</td>
                    <td>{{alt.nome_comp}}</td>
                    {%if alt.ch_total or alt.ch_total_old %}
                        <td>Carga horária Total: <span class="green">{{alt.ch_total}}</span> 
                            <br> valor anterior: <span class="red">{{alt.ch_total_old}}</span>
                        </td>
                    {% else %}
                        <td>   </td>
                    {%endif %}
                    {% if alt.ch_teorica or alt.ch_teorica_old %}
                        <td>Carga horária Teorica: <span class="green">{{alt.ch_teorica}}</span> 
                            <br> valor anterior: <span class="red">{{alt.ch_teorica_old}}</span>
                        </td>
                    {% else %}
                        <td>   </td>
                    {% endif %}
                    {% if alt.ch_pratica or alt.ch_pratica_old %}
                    <td> Carga horária prática: <span class="green">{{alt.ch_pratica}} </span> 
                        <br> valor anterior: <span class="red">{{alt.ch_pratica_old}}</span>
                    </td>
                    {%else %}
                        <td>  </td>
                    {% endif %}
                    {% if alt.atividade_dist or alt.atividade_dist_old %}
                        <td> Atividade Avaliativa a Distância: <span class="green"> {{alt.atividade_dist}} </span>
                            <br> valor anterior: <span class="red">{{alt.atividade_dist_old}}</span> 
                        </td>
                    {% else %}
                        <td>   </td>
                    {% endif %}
                    {% if alt.atividade_disc or alt.atividade_disc_old %}
                        <td>Atividade Discente: <span class="green">{{alt.atividade_disc}}</span>
                            <br> valor anterior: {{alt.atividade_disc_old}}
                        </td>
                    {% else %}
                        <td>    </td>
                    {% endif %}
                    {%if alt.caracte or alt.caracte_old  %}
                        <td> Característica: <span class="green">{{alt.caracte}} </span>
                            <br> valor anterior: <span class="red">{{alt.caracte_old}}</span>
                        </td>
                    {%else %}
                        <td>    </td>
                    {%endif %}
                    {%if alt.nome_dimensao or alt.nome_dimensao_old  %}              
                    <td> Nome Dimensão: <span class="green"> {{alt.nome_dimensao}} </span>
                        <br> valor anterior: <span class="red">{{alt.nome_dimensao_old}}</span>
                    </td>
                    {% else %}
                        <td>     </td>
                    {% endif %}
                    <td>{{alt.cod_curriculo}}</td>
                    <td>{{alt.nome_curso}}</td>
                    <td>{{alt.nome_estrutura}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </section>
          <br>
          
          <section>
            <!--for demo wrap-->
            <h1>Componentes Adicionados</h1>
            <div class="tbl-header">
              <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                  <tr>
                    <th>Cod. Materia</th>
                    <th>Nome Materia</th>
                    <th>Carga Horaria Total</th>
                    <th>Carga Horaria Teorica</th>
                    <th>Carga Horaria Pratica</th>
                    <th>Atividade a Distancia</th>
                    <th>Atividade Discente</th>
                    <th>Característica</th>
                    <th>Nome Dimensao</th>
                    <th>Cod. Curriculo</th>
                    <th>Nome Curso</th>
                    <th>Nome Estrutura</th>

                    
                    
                    
                  </tr>
                </thead>
              </table>
            </div>
            <div class="tbl-content">
              <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                {% for alt2 in lista_novos %}
                  <tr>     
                    <td>{{alt2.cod_materia}}</td>
                    <td>{{alt2.nome_comp}}</td>
                    {%if alt2.ch_total  %}
                        <td>Carga horária Total: <span class="green">{{alt2.ch_total}}</span> 
                        </td>
                    {% else %}
                        <td>   </td>
                    {%endif %}
                    {% if alt2.ch_teorica %}
                        <td>Carga horária Teorica: <span class="green">{{alt2.ch_teorica}}</span> 
                        </td>
                    {% else %}
                        <td>   </td>
                    {% endif %}
                    {% if alt2.ch_pratica %}
                    <td> Carga horária prática: <span class="green">{{alt2.ch_pratica}} </span> 
                    </td>
                    {%else %}
                        <td>  </td>
                    {% endif %}
                    {% if alt2.atividade_dist %}
                        <td> Atividade Avaliativa a Distância: <span class="green"> {{alt2.atividade_dist}} </span>
                        </td>
                    {% else %}
                        <td>   </td>
                    {% endif %}
                    {% if alt2.atividade_disc %}
                        <td>Atividade Discente: <span class="green">{{alt2.atividade_disc}}</span>
                        </td>
                    {% else %}
                        <td>    </td>
                    {% endif %}
                    {%if alt2.caracte %}
                        <td> Característica: <span class="green">{{alt2.caracte}} </span>
                        </td>
                    {%else %}
                        <td>    </td>
                    {%endif %}
                    {%if alt2.nome2_dimensao %}              
                    <td> Nome Dimensão: <span class="green"> {{alt2.nome_dimensao}} </span>
                    </td>
                    {% else %}
                        <td>     </td>
                    {% endif %}
                    <td>{{alt2.cod_curriculo}}</td>
                    <td>{{alt2.nome_curso}}</td>
                    <td>{{alt2.nome_estrutura}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </section>
          <br>
    </body>
</html>